accelerate==1.2.1
datasets==2.19.0
einops==0.8.0
faiss-cpu==1.8.0
FlagEmbedding==1.3.3
ijson==3.3.0
numpy==1.26.3
peft==0.14.0
PyYAML==6.0.2
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.13.1
sentencepiece==0.2.0
sentence-splitter==1.4
sinling==0.3.6
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.44.2
POT==0.9.5